@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&family=Montserrat:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Hanken+Grotesk:wght@500;700;800&family=Montserrat:wght@500;700&display=swap');
body{
    margin: 0;
    padding: 0;
    max-width: 100vw;
    max-height: 100vh;
    background-color: hsl(30, 38%, 92%);
}
h4,div{
    margin: 0;
}
.container{
    max-width: 600px;
    margin: 120px auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: hsl(0, 0%, 100%);
    border-radius: 10px;
}
.container .pic{
    width: 50%;
}
.pic img{
    width: 100%;
    object-fit: cover;
    border-radius: 10px 0 0 10px;
}
.container .perfume{
    width: 50%;
    height: auto;
    border-radius: 0 10px 10px 0;
    background-color: hsl(0, 0%, 100%);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.perfume h4{
    margin: 20px 30px 0 30px;
    font-family: Montserrat;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 12px;
    color: hsla(212, 21%, 14%, 0.4);
}
.perfume .gab{
    margin: 0 30px 0 30px;
    font-family: Fraunces;
    font-weight: 700;
    font-size: 2rem;
    line-height: 30px;
}
.perfume .floral{
    margin: 0 30px 0 30px;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 700;
    color: hsla(212, 21%, 14%, 0.4);
    line-height: 25px;
}
.perfume .price{
    display: flex;
    align-items: center;
    margin: 0 30px 0 30px;
}
.perfume h1{
    color: hsl(158, 36%, 37%);
    font-family: Fraunces;
    font-weight: 700;
}
.perfume h6{
    text-decoration: line-through;
    margin-left: 20px;
    color: hsla(212, 21%, 14%, 0.4);
    font-family: Fraunces;
    font-size: 14px;
}
.perfume button{
    margin: 0 30px 20px 30px;
    padding: 15px;
    border-radius: 10px;
    background-color: hsl(158, 36%, 37%);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    font-family: Montserrat;
    font-weight: 700;
}
.perfume button img{
    margin-right: 10px;
}
.perfume button:hover{
    cursor: pointer;
    background-color: hsl(158, 50%, 22%);
}
@media all and (max-width: 600px) {
    .container .pic{
        width: 100%;
        height: 40%;
    }
    .pic img{
        content: url('images/image-product-mobile.jpg');
        border-radius: 10px 10px 0 0;
    }
    .container .perfume{
        gap: 20px;
        border-radius: 0 0 10px 10px;
        width: 100%;
    }
    .container{
        margin: 20px;
    }
    .perfume .floral{
        line-height: 25px;
    }
}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }